*{
    margin: 0;
    padding: 0;
}
form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

input {
    color: rgb(0, 0, 0);
    text-align: center;
    width: 20%;
    /* background-color: rgb(197, 204, 0); */
    border: 1px solid black;
    /* justify-content: center; */
}
button.send {
    width: auto;
}
.customInputCalendar {
    /* background-color: ; */
    /* position: absolute; */
    /* width: 20px; */
    /* height: 20px; */
    /* opacity: 0; */
}
.buttonPlus{
    position: absolute;
    width: 20px;
    height: 20px;
}
div.top {
    display: flex;
    justify-content:space-between;
}
a.linkHistory {
    cursor: pointer;
    /* height: 5px; */
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border: 1.5px black solid;
    
}
h1.headerHistory{
    text-align: center;
}
a.linkMain {
    cursor: pointer;
    /* height: 5px; */
    position: absolute;
    right: 0;
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border: 1.5px black solid;
    
}
div.topHistory {
    display: flex;
    justify-content: center;
}

input.inputMain {
    width: 100%;
}